div{
            color: rgb(24, 103, 207);
            background-color: rgba(38, 172, 255, 0.377);
            border:1px #abdfe95d solid;

            
}
.Uclugi{
    color: rgb(24, 103, 207);
}
.button{
     border:1.5px #000000 solid;
     background-color: rgba(50, 190, 250, 0.403);
}
a{
    text-decoration: none;
    color: black;
}

